.container-fluid {
    padding: 0 !important
}

.navbar-brand {
 color: white !important;
 font-family: 'Allan', Helvetica, Arial, sans-serif;
 font-size: 50px;
 line-height: 65px;
 color: black;
 display: inline-block;
}

.header {
    background: #563d7c;
    color: white;
}
.fa-user-circle {
    color: #563d7c;
}


.login-icon {
    margin: 0 auto;
    font-size: 100px;
}

.right-menu {
     font-family: 'Allan', Helvetica, Arial, sans-serif;
     font-size: 20px;
     color: white !important;
     float: right;
     position: absolute;
     right: 0;
     margin-right: 10px;
}

h2 {
 font-family: 'Allan', Helvetica, Arial, sans-serif;
 font-size: 30px;
 line-height: 75px;
 color: black;
 display: inline-block;

}

h3 {
 font-family: 'Allan', Helvetica, Arial, sans-serif;
 font-size: 30px;
 line-height: 75px;
 color: black;
}

p {
 font-family: 'Cardo', Georgia, Times, serif;
 font-size: 18px;
 line-height: 25px;
 color: black
}

.input-group, button {
    margin-top: 15px;
}




a, a:hover {
    text-decoration: none !important;
    color: inherit
}



.nav-item {
    margin-left: 5px;
}

.dashboard {
    margin-top: 5%
}

.btn-warning {
    color: white;
}

label {
    color: black;
    font-family: 'Cardo', Georgia, Times, serif;
    display: block
}

td {
margin: 20px
}

