<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <link rel="stylesheet" href="{% static 'css/allan.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cardo.css' %}" />

    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="{% static 'css/clasic.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clasic.date.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/picker.js' %}"></script>
    <script src="{% static 'js/picker.data.js' %}"></script>

    <title>Grievance App</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light header">
        <a class="navbar-brand" href="{% url 'home' %}">Grievance App</a>

        {% if request.user.is_authenticated %}
          <div class="right-menu">
            <a href="{% url 'visualize' %}" class="nav-item">
              <i class="fa fa-line-chart"></i>
              Visualize
            </a>

            <a href="{% url 'logout' %}" class="nav-item">
              <i class="fa fa-power-off"></i>
              Logout
            </a>
          </div>
        {% endif %}
      </nav>

        <div>
          {% block content %}
          {% endblock %}
        </div>
    </div>


    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
  </body>
</html>