{% extends 'base.html' %}
{% block content %}

<div class="dashboard">
    <div class="row">
        <div class="col col-md-12" align="center">
            <div class="card" style="width: 80%">
              <div class="card-body">
                <h5 class="card-title"> Case # {{ case.case_id }} </h5>
                <h6 class="card-subtitle mb-2 text-muted"> Case details </h6>
                  <br><br>

                <div class="row" align="left">
                    <div class="col col-md-6">
						<label>Case id : {{case.case_id}}</label>
                    </div>
                    <div class="col col-md-6">
                        <label>Requested on : {{case.timestamp}}</label>
                    </div>
                </div>

                  <div class="row" align="left">
                    <div class="col col-md-6">
                        <label>Project : {{case.project.name}}</label>
                    </div>
                    <div class="col col-md-6">
                        <label>Created By : {{case.user}}</label>
                    </div>
                </div>

                  <div class="row" align="left">
                    <div class="col col-md-6">
                        <label>Grievance : {{case.grievance}}</label>
                    </div>
                    <div class="col col-md-6">
                        <label>Responsible Person : {{case.responsible_entity.person}}</label>
                    </div>
                </div>

                  <div class="row" align="left">
                    <div class="col col-md-6">
                        <label>Complainant Name : {{case.complainant_name}}</label>
                    </div>
                    <div class="col col-md-6">
                        <label>Complainant Address : {{case.complainant_address}}</label>
                    </div>
                </div>

                  <div class="row" align="left">
                    <div class="col col-md-6">
                        <label>Complainant Telephone : {{case.complainant_telephone}}</label>
                    </div>
                    <div class="col col-md-6">
                        <label>Incident Location City : {{case.incident_location_city}}</label>
                    </div>
                </div>

                  <div class="row" align="left">
                    <div class="col col-md-6">
                        <label>Incident Date : {{case.incident_date}}</label>
                    </div>
                    <div class="col col-md-6">
                        <label>Incident Location Type : {{case.incident_location_type}}</label>
                    </div>
                </div>

                  <div class="row" align="left">
                    <div class="col col-md-6">
                        <label>Incident Details : {{case.incident_details}}</label>
                    </div>
                    <div class="col col-md-6">
                        <label>Accused Party : {{case.accused_party}}</label>
                    </div>
                </div>

                  <div class="row" align="left">
                    <div class="col col-md-6">
                        <label>Accused Name : {{case.accused_name}}</label>
                    </div>
                    <div class="col col-md-6">
                        <label>Incident Phase : {{case.incident_phase}}</label>
                    </div>
                </div>
              </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}