{% extends 'base.html' %}
{% block content %}

<div class="dashboard">
    <div class="row">
        <div class="col col-md-12" align="center">
            <div class="card" style="width: 80%">
                <div class="card-body">

                    <div class="row" align="center">
                        <div class="login-icon">
                            <i class="fa fa-user-circle"></i>
                        </div>

                    </div>
                    <form method="POST" action="{% url 'login' %}" class="login-form">
                        {% if error %}
                        <div class="alert alert-danger col-md-4">
                            <strong><i class="fa fa-exclamation-triangle"></i> {{error}}</strong>
                        </div>
                        {% endif %}
                        {% csrf_token %}
                        <div class="input-group input-group-lg col-md-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                            </div>
                            <input name="username" type="text" class="form-control" aria-label="Large"
                                   aria-describedby="inputGroup-sizing-sm" placeholder="Username">
                        </div>

                        <div class="input-group input-group-lg col-md-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                            </div>
                            <input name="password" type="password" class="form-control" aria-label="Large"
                                   aria-describedby="inputGroup-sizing-sm" placeholder="Password">
                        </div>

                        <button type="submit" class="btn btn-light btn-lg">Login</button>

                    </form>
                </div>
            </div>
        </div>

    </div>

</div>


{% endblock %}