{% extends 'base.html' %}
{% block content %}
{% load static %}
<script>
    var appData = {{stats | safe }}
</script>
<div class="dashboard">
    <div class="row">
        <div class="col col-md-3" align="center">
            <div class="card" style="width: 100%; margin: 5px">
              <div class="card-body">
                <h5 class="card-title"> Filters </h5>
                  <div class="row" align="left">
                    <label><strong>Projects</strong></label>

                    <select style="width:100%" multiple="multiple" class="multi-select-1" id="selectedProjects" name="projects">
                        {% for name in project_list %}
                        <option value="{{name}}" selected>{{name}}</option>
                        {% endfor %}
                    </select>

                  </div>
                  <br>
                   <div class="row" align="left">
                    <label><strong>Grievance Categories</strong></label>
                    <select style="width:100%" multiple="multiple" class="multi-select-2" id="selectedCategories" name="categories">
                      {% for name in category_list %}
                        <option value="{{name}}" selected>{{name}}</option>
                        {% endfor %}
                    </select>
                  </div>

                  <button id="filter" class="btn btn-success"><i class="fa fa-filter"></i> Apply Filters</button>


              </div>
            </div>
        </div>
        <div class="col col-md-9" align="center">
            <div class="card" style="width: 100%; margin: 5px">
              <div class="card-body">
                <h5 class="card-title"> Grievance Visualization </h5>
                  <h6 class="card-subtitle mb-2 text-muted">Total Grievance Cases : {{ total_cases }}</h6>
                <canvas id="myChart"></canvas>

              </div>
            </div>
        </div>

    </div>
</div>
<script src="{% static 'js/visualize.js' %}"></script>

{% endblock %}